<IfModule mod_rewrite.c>
    RewriteEngine On

    # Menghapus "public" dari URL jika langsung diakses
    RewriteCond %{THE_REQUEST} /public/ [NC]
    RewriteRule ^public/(.*)$ /$1 [L,R=301,NC]

    # Arahkan semua permintaan ke index.php di dalam folder public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /public/index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
