includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    # Use level max to always get the strictest level
    level: max

    ignoreErrors:
        - '#PHPDoc tag @var#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    # Core PHPStan strict parameters
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkDynamicProperties: true
    treatPhpDocTypesAsCertain: true
    reportMaybesInMethodSignatures: true
    checkInternalClassCaseSensitivity: true
    checkFunctionNameCase: true
    rememberPossiblyImpureFunctionValues: true